
project/.DS_Store
project/scripts/crawler/.DS_Store
project/scripts/crawler/.DS_Store
project/scripts/.DS_Store
.DS_Store
project/scripts/crawler/.DS_Store
*.iml
*.xml
*.xml
*.pyc
*.pyc
*.pyc
*.pyc
*.xml
