<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href="../static/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/fonts.css" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
       google.charts.load('current', {
       'packages': ['geochart'],
       // Note: you will need to get a mapsApiKey for your project.
       // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
       'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {

            var response_married = JSON.parse('{{ response_married | tojson | safe}}');
            var response_tot_persons_score = JSON.parse('{{ response_tot_persons_score | tojson | safe}}');
            var response_neg_score = JSON.parse('{{ response_neg_score | tojson | safe}}');

      var melb = ((response_married.Melbourne/response_tot_persons_score.Melbourne) * 10 );
      var syd = ((response_married.Sydney/response_tot_persons_score.Sydney)* 10 );
      var per = ((response_married.Perth/response_tot_persons_score.Perth)* 10 );
      var ade = ((response_married.Adelaide/response_tot_persons_score.Adelaide)* 10 );
      var dar = ((response_married.Darwin/response_tot_persons_score.Darwin)* 10 );
      var hob = ((response_married.Hobart/response_tot_persons_score.Hobart)* 10 );
      var can = ((response_married.Canberra/response_tot_persons_score.Canberra)* 10 );
      var bri = ((response_married.Brisbane/response_tot_persons_score.Brisbane)* 10 );

            var data = google.visualization.arrayToDataTable([
                ['City', 'Sentiment Score', 'Weighted average of married people'],
              ['Melbourne', response_neg_score.Melbourne, melb],
          ['Sydney', response_neg_score.Sydney, syd],
          ['Perth', response_neg_score.Perth, per],
          ['Adelaide', response_neg_score.Adelaide, ade],
          ['Darwin', response_neg_score.Darwin, dar],
          ['Hobart', response_neg_score.Hobart, hob],
          ['Canberra', response_neg_score.Canberra, can],
          ['Brisbane', response_neg_score.Brisbane, bri]
            ]);
            var options = {
                region: 'AU',
                displayMode: 'markers',
        colorAxis: {colors: ['#00853f', 'black', '#e31b23']}
            };
            var chart = new google.visualization.GeoChart(document.getElementById('geochart'));
            chart.draw(data, options);
        }
    </script>

  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var response_married = JSON.parse('{{ response_married | tojson | safe}}');
    var response_tot_persons_score = JSON.parse('{{ response_tot_persons_score | tojson | safe}}');

    var melb = ((response_married.Melbourne/response_tot_persons_score.Melbourne) * 10 );
    var syd = ((response_married.Sydney/response_tot_persons_score.Sydney)* 10 );
    var per = ((response_married.Perth/response_tot_persons_score.Perth)* 10 );
    var ade = ((response_married.Adelaide/response_tot_persons_score.Adelaide)* 10 );
    var dar = ((response_married.Darwin/response_tot_persons_score.Darwin)* 10 );
    var hob = ((response_married.Hobart/response_tot_persons_score.Hobart)* 10 );
    var can = ((response_married.Canberra/response_tot_persons_score.Canberra)* 10 );
    var bri = ((response_married.Brisbane/response_tot_persons_score.Brisbane)* 10 );

      var data = google.visualization.arrayToDataTable([
        ['City','Weighted average of married people'],
            ['Melbourne', melb],
          ['Sydney',  syd],
          ['Perth',  per],
          ['Adelaide',  ade],
          ['Darwin',  dar],
          ['Hobart',  hob],
          ['Canberra',  can],
          ['Brisbane', bri]
      ]);

      var options = {
        title: "Weighted average of married people",
        width: 600,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
      chart.draw(data, options);
  }
  </script>

    <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var response_neg_score = JSON.parse('{{ response_neg_score | tojson | safe}}');

      var data = google.visualization.arrayToDataTable([
        ['City','Sentiment Score'],
            ['Melbourne', response_neg_score.Melbourne],
      ['Sydney', response_neg_score.Sydney],
      ['Perth', response_neg_score.Perth],
      ['Adelaide', response_neg_score.Adelaide],
      ['Darwin', response_neg_score.Darwin],
      ['Hobart',  response_neg_score.Hobart],
      ['Canberra', response_neg_score.Canberra],
      ['Brisbane', response_neg_score.Brisbane]
      ]);

      var options = {
        title: "Sentiment score of city",
        width: 600,
        height: 400,
        bar: {groupWidth: "95%"},
          colors:['red'] ,
        legend: { position: "none" },
      };
      var chart = new google.visualization.BarChart(document.getElementById("barchart_values1"));
      chart.draw(data, options);
  }
  </script>
</head>
<body>
<div id="header-wrapper">
  <div id="header" class="container">
    <div id="logo">
      <h1><a href="index"><u>Citylights</u>.</a></h1>
    </div>
    <div id="menu">
      <ul>
        <li><a href="index" accesskey="1" title="">Homepage</a></li>
        <li><a href="analysis_one" accesskey="2" title="">Analysis One</a></li>
        <li><a href="analysis_two" accesskey="3" title="">Analysis Two</a></li>
        <li class="active"><a href="analysis_three" accesskey="4" title="">Analysis Three</a></li>
        <li><a href="analysis_four" accesskey="5" title="">Analysis Four</a></li>
      </ul>
    </div>
  </div>

</div>
<div id="wrapper">
  <div id="three-column" class="container">

    <div class="title">
      <h2>Marriage is a Disaster?</h2><br>
            <span class="byline"> There are many number of stories and regular discussions prevalent among people regarding the
        relation of marital status and happiness in life. So, we tried to analyse the same with the data available with us.
        This scenario tries to compare the weighted average of married people in the city and tries to relate it with
        the sentiment score in the city.
      </span><br>
      <h3>Map Representing the analysis</h3><br>
      <center><div id="geochart" style="width: 1200px; height: 400px ;"></div></center>
      <h3>Chart Representing the analysis</h3>
            <center><table>
             <tr>
            <td><div id="barchart_values" style="width: 500px; height: 400px"></div>
            </td>
            <td><div id="barchart_values1" style="width: 500px; height: 400px"></div></td>
             </tr>
            </table></center>
            <span class="byline">From the data, marriage is not a disaster. If we have a look at the sentiment score of the cities,
        we can see that Sydney(city with highest weighted average) has pretty good Sentiment Score and that of Brisbane(city with
        lowest weighted average) is less than that of Sydney. So the observations contradicts the belief that the happiness of
        the people is inversely proportional to the marital status.</span>
    </div>
  </div>
</div>
<div id="copyright" class="container">
  <p>&copy; Comp90024 Group 49. All rights reserved.</p>
</div>
</body>
</html>
