<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href="../static/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/fonts.css" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
       google.charts.load('current', {
       'packages': ['geochart'],
       // Note: you will need to get a mapsApiKey for your project.
       // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
       'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
     	});
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            var response_gamble = JSON.parse('{{ response_gamble | tojson | safe}}');
          	var response_tot_persons = JSON.parse('{{ response_tot_persons | tojson | safe}}');
          	var response_sports = JSON.parse('{{ response_sports | tojson | safe}}');

            var data = google.visualization.arrayToDataTable([
                ['City', 'Gambling activities', 'Sport tweets'],
         	['Melbourne',  ((response_gamble.Melbourne/response_tot_persons.Melbourne) * 100 ),  response_sports.Melbourne],
			['Sydney', ((response_gamble.Sydney/response_tot_persons.Sydney)* 100 ) , response_sports.Sydney],
			['Perth', ((response_gamble.Perth/response_tot_persons.Perth)* 100 ) , response_sports.Perth],
			['Adelaide', ((response_gamble.Adelaide/response_tot_persons.Adelaide)* 100 ) , response_sports.Adelaide],
			['Darwin', ((response_gamble.Darwin/response_tot_persons.Darwin)* 100 ) ,  response_sports.Darwin],
			['Hobart',  ((response_gamble.Hobart/response_tot_persons.Hobart)* 100 ) , response_sports.Hobart],
			['Canberra', ((response_gamble.Canberra/response_tot_persons.Canberra)* 100 ) , response_sports.Canberra],
			['Brisbane', ((response_gamble.Brisbane/response_tot_persons.Brisbane)* 100 ) , response_sports.Brisbane]
            ]);
            var options = {
                region: 'AU',
                displayMode: 'markers'
            };
            var chart = new google.visualization.GeoChart(document.getElementById('geochart'));
            chart.draw(data, options);
        }
    </script>

	 <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
          var response_gamble = JSON.parse('{{ response_gamble | tojson | safe}}');
          var response_sports = JSON.parse('{{ response_sports | tojson | safe}}');
          var response_tot_persons = JSON.parse('{{ response_tot_persons | tojson | safe}}');

        var data = google.visualization.arrayToDataTable([
          ['City', 'Gambling activities', 'Sport tweets'],
			['Melbourne',  ((response_gamble.Melbourne/response_tot_persons.Melbourne) * 100 ),  response_sports.Melbourne/100],
			['Sydney', ((response_gamble.Sydney/response_tot_persons.Sydney)* 100 ) , response_sports.Sydney/100],
			['Perth', ((response_gamble.Perth/response_tot_persons.Perth)* 100 ) , response_sports.Perth/100],
			['Adelaide', ((response_gamble.Adelaide/response_tot_persons.Adelaide)* 100 ) , response_sports.Adelaide/100],
			['Darwin', ((response_gamble.Darwin/response_tot_persons.Darwin)* 100 ) ,  response_sports.Darwin/100],
			['Hobart',  ((response_gamble.Hobart/response_tot_persons.Hobart)* 100 ) , response_sports.Hobart/100],
			['Canberra', ((response_gamble.Canberra/response_tot_persons.Canberra)* 100 ) , response_sports.Canberra/100],
			['Brisbane', ((response_gamble.Brisbane/response_tot_persons.Brisbane)* 100 ) , response_sports.Brisbane/100]
        ]);

        var options = {
          title: 'Gambling in relation with sports',
          curveType: 'function',
          legend: { position: 'bottom' },
			explorer: {
                    keepInBounds: true,
                    maxZoomIn: 4.0
                }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="index"><u>Citylights</u>.</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="index" accesskey="1" title="">Homepage</a></li>
				<li><a href="analysis_one" accesskey="2" title="">Analysis One</a></li>
				<li class="active"><a href="analysis_two" accesskey="3" title="">Analysis Two</a></li>
				<li><a href="analysis_three" accesskey="4" title="">Analysis Three</a></li>
				<li><a href="analysis_four" accesskey="5" title="">Analysis Four</a></li>
			</ul>
		</div>
	</div>

</div>
<div id="wrapper">
	<div id="three-column" class="container">

		<div class="title">
			<h2> For the love of the Game!!!!</h2><br>
            <span class="byline">Gambling has been a very well-known platform for the sports lovers to use their knowledge
				of the game to predict the outcomes or the events in the game to earn money. This scenario tries to compare the percentage of
				people which are involved in gambling activities in a particular city with the percentage of sports tweets coming in from
				these cities.
			</span><br>
			<h3>Map Representing the analysis</h3><br>
			<center><div id="geochart" style="width: 1200px; height: 400px ;"></div></center>
			<h3>Chart Representing the analysis</h3>
			<center><div id="curve_chart" style="width: 900px; height: 500px"></div></center>
			<br><span class="byline">The result shows
			</span>
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Comp90024 Group 49. All rights reserved.</p>
</div>
</body>
</html>
