<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet"/>
    <link href="../static/css/default.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../static/css/fonts.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var response_tweet_score = JSON.parse('{{ response_tweet_score | tojson | safe}}');

            var data = google.visualization.arrayToDataTable([
                ['Time', 'Melbourne', 'Sydney', 'Perth', 'Adelaide', 'Darwin', 'Hobart', 'Canberra', 'Brisbane'],
                ['Morning ', response_tweet_score.melb_mor*100, response_tweet_score.syd_mor*100, response_tweet_score.per_mor*100, response_tweet_score.ade_mor*100, response_tweet_score.dar_mor*100, response_tweet_score.hob_mor*100, response_tweet_score.can_mor*100, response_tweet_score.bri_mor*100],
                ['Afternoon', response_tweet_score.melb_aft*100, response_tweet_score.syd_aft*100, response_tweet_score.per_aft*100, response_tweet_score.ade_aft*100, response_tweet_score.dar_aft*100, response_tweet_score.hob_aft*100, response_tweet_score.can_aft*100, response_tweet_score.bri_aft*100],
                ['Night', response_tweet_score.melb_mid*100, response_tweet_score.syd_mid*100, response_tweet_score.per_mid*100, response_tweet_score.ade_mid*100, response_tweet_score.dar_mid*100, response_tweet_score.hob_mid*100, response_tweet_score.can_mid*100, response_tweet_score.bri_mid*100]
            ]);

            var options = {
                title: 'Sentiment Analysis of Australian Cities',
                curveType: 'function',
                explorer: {
                    keepInBounds: true,
                    maxZoomIn: 4.0
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }
    </script>
</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1><a href="index"><u>Citylights</u>.</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li><a href="index" accesskey="1" title="">Homepage</a></li>
                <li class="active"><a href="analysis_one" accesskey="2" title="">Analysis One</a></li>
                <li><a href="analysis_two" accesskey="3" title="">Analysis Two</a></li>
                <li><a href="analysis_three" accesskey="4" title="">Analysis Three</a></li>
                <li><a href="analysis_four" accesskey="5" title="">Analysis Four</a></li>
            </ul>
        </div>
    </div>

</div>
<div id="wrapper">
    <div id="three-column" class="container">

        <div class="title">
            <h2>I love tweet in the Morning</h2><br>
            <span class="byline">People are known to have different moods during different times of the day. In order to
            find out whether people are more sad in morning or night, the percentage of sad tweets vs the part of the day analysis is performed. The time of the
            day was divided into three parts: 4.00 am to 11.59 noon, 12.00 noon to 07.59 pm, and 08.00 pm to 03.59 am. </span>
            <center>
                <div id="curve_chart" style="width: 900px; height: 500px"></div>
            </center>
            <span class="byline">As we can observe from the graph, the rate of sad tweets is more in morning
            as compared to any other time of the day. City wise, Darwin has been the city with highest rate of
            negative tweets. Hobart has the lowest rate of sad tweets among all the cities. The rate of sad tweets can be seen decreasing
            as the day progresses.
            </span>
        </div>
    </div>
</div>
<div id="copyright" class="container">
    <p>&copy; Comp90024 Group 49. All rights reserved.</p>
</div>
</body>
</html>
