<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet"/>
    <link href="../static/css/default.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../static/css/fonts.css" rel="stylesheet" type="text/css" media="all"/>

</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1><a href="index"><u>Citylights</u>.</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li class="active"><a href="index" accesskey="1" title="">Homepage</a></li>
                <li><a href="analysis_one" accesskey="2" title="">Analysis One</a></li>
                <li><a href="analysis_two" accesskey="3" title="">Analysis Two</a></li>
                <li><a href="analysis_three" accesskey="4" title="">Analysis Three</a></li>
                <li><a href="analysis_four" accesskey="5" title="">Analysis Four</a></li>
            </ul>
        </div>
    </div>

</div>
<div id="wrapper">
    <div id="three-column" class="container">

        <div class="title">
            <h2>Introduction</h2>
            <span class="byline">Our application is a cloud-based solution using NeCTAR Research Cloud and
            analyzed different scenarios.
            The research target cities include:
            Australian Capital Territory, Adelaide, Brisbane, Melbourne, Hobart,
            Perth, Darwin, and Sydney. </span><br><br>
            <h3>Team Members</h3>
            <span class="byline">
			<ul>
                <li>Jiyu Chen</li>
				<li>Nikhil Chitale</li>
                <li>Shashank Parab</li>
				<li>Vedant Chauhan</li>
                <li>Siddharth Malhotra</li>
			</ul>
			</span>
        </div>
    </div>
</div>
<div id="copyright" class="container">
    <p>&copy; Comp90024 Group 49. All rights reserved.</p>
</div>
</body>
</html>
