<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href="../static/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/fonts.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Citylights</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="index" accesskey="1" title="">Homepage</a></li>
				<li><a href="analysis_one" accesskey="2" title="">Analysis One</a></li>
				<li><a href="analysis_two" accesskey="3" title="">Analysis Two</a></li>
				<li><a href="analysis_three" accesskey="4" title="">Analysis Three</a></li>
			</ul>
		</div>
	</div>

</div>
<div id="wrapper">
	<div id="three-column" class="container">

		<div class="title">
			<h2>Introduction</h2>
			<span class="byline">We developede a cloud-based solution and
analyzed three different scenarios.
The research target areas including:
Australian Capital Territory, Greater Hobart,
Greater Perth, Greater Adelaide, Greater Brisbane,
Greater Darwin, Greater Sydney and Greater Melbourne. </span>
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Comp90024 Group 49. All rights reserved.</p>
</div>
</body>
</html>
