<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['geochart']});
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            var response = JSON.parse('{{ response | tojson | safe}}');

            for (var i = 0; i < response.length; i++) {
                document.getElementById('username').innerHTML = response[i].city + " " + response[i].median_age;
            }

            var data = google.visualization.arrayToDataTable([
                ['City', 'Age'],
                [response.city, response.median_age]
            ]);
            var options = {
                region: 'AU',
                colors: ['D70505'],
                displayMode: 'regions',
                resolution: 'provinces',
            };
            var chart = new google.visualization.GeoChart(document.getElementById('geochart'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
<div id="geochart" style="width: 900px; height: 500px ;"></div>
<span id="username"></span>
</body>
</html>